*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --brand-light: #f67841;
  --brand-md: #f3541c;
  --brand-dark: #e43a12;
  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;
  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;
  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;
  --semantic-error: #dc2626;
  --ff-poppins: 'Poppins', system-ui, sans-serif;
  --fw-base: 400;
  --fs-sm: 0.875rem;
  
  --text-sm: var(--fw-base) var(--fs-sm)/1.4 var(--ff-poppins);
  --text:    var(--fw-base) var(--fs-base)/1.5 var(--ff-poppins);
  
  /* mobile */
  --fw-semi: 600;
  --fs-base: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem
  --fs-xl: 2rem;
  /*  */
  --text-sm: var(--fw-base) var(--fs-sm)/1.4 var(--ff-poppins);
  --text:    var(--fw-base) var(--fs-base)/1.5 var(--ff-poppins);
}

body {
  overflow: hidden;
  font: var(--text);
  color: var(--text-secondary);
}

h1,
h2 {
  color: var(--text-primary);
}

img {
  max-width: 100%;
  height: auto;
}

/* @media (max-width: 768px) {
  :root {
    --text:    var(--fw-semi) var(--fs-base)/1.5 var(--ff-poppins);
    --text-md: var(--fw-semi) var(--fs-md)1.2 var(--ff-poppins);
    --text-lg: var(--fw-semi) var(--fs-lg)1.2 var(--ff-poppins);
    --text-xl: var(--fw-semi) var(--fs-xl)1.2 var(--ff-poppins);
  }
} */

@media (max-width: 768px) {
  body {
    overflow: visible;
  }
}