#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  /*barra de rolagem*/
  padding: 4rem;

  .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  .back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    font: 600 1.5rem/1.25 var(--ff-poppins);
    margin-bottom: 0.5rem;
  }
}

/* Sim, o main está dentro de #app, mas no CSS Grid, os elementos filhos não herdam automaticamente a altura total do grid container, mesmo que o pai (#app) tenha height: 100vh.

Por padrão, os itens do grid têm min-height: auto, o que pode causar problemas de overflow. Para que o overflow: auto; funcione corretamente em main, é necessário garantir que ele possa encolher e crescer dentro do grid. Por isso, usamos min-height: 0 no main (e no aside, se quiser):

 */
main,
aside {
  min-height: 0;
}

/* Assim, o main respeita o tamanho do grid e o overflow: auto; funciona como esperado.
Se não definir isso, o conteúdo pode "vazar" e a barra de rolagem não aparecer. */

aside {
  background-color: var(--surface-secondary);
  padding: 4rem;

  .aside-container {
    max-width: 31rem;
    img {
      margin-top: 2rem;
    }
  }

  h2 {
    font: 600 2.5rem/1.25 var(--ff-poppins);
    margin-bottom: 0.5rem;

    span {
      color: var(--text-highlight);
    }
  }
}

.aside-mobile {
  display: none;
}

.desktop-only {
  display: block;
}

@media (min-width: 80em) {
  .desktop-only {
    display: inline-block;
  }
}

@media (max-width: 768px ) {
  #app {
    display: block  !important;
    /* ou grid-template-columns: 1fr; se preferir manter grid */
    height: auto !important;
    overflow: visible !important;
  }

  main {
    overflow: visible;
    height: auto;      /* Permite crescer conforme o conteúdo */
    width: 100%;
    padding: 1.5rem 0.5rem;
  }
  
  .aside-mobile {
    display: block;
    background-color: var(--surface-secondary);
    padding: 2rem 0 1.5rem 0;
    margin-bottom: 2rem;
  }
  
  .desktop-only {
    display: none;
  }

}